CODE STYLE:

- Mobile-first responsive design
- Commit concise messages after completing todos in a task

NAMING CONVENTIONS:

- Files and folders: kebab-case
- Components: PascalCase
- Function and variables: camelCase
- Constants: SCREAMING_CASE
- Database tables: snake_case (coffee_carts, user_reviews)

DON'T:

- Don't hardcode - use env variables
- Don't add line comments unless really necessary
